body {
	background: #EEE;
}

header {
	position:relative;
	overflow: auto;
	padding: 2px;
}

.leftContainer {
	float: left;
	padding: 4px;
}

.rightContainer {
	float: right;
	padding: 4px;
}

.main {
	height: 93%;
	padding: 4px;
}

.oculto{
	display: none;
}

.negrita{
	font-weight: bold;
}